<div id="thetable">
 <table border="1" >
 <td><%=@schedule.year %></td>
 <%=timeheader(@tms)%>
 
  <% @ppl_sh_s.each do |k|  %>
 
 <tr class="<%=cycle('list-line-even','list-line-odd')%>"> <%=vol_row(k,@ppl_sh[k],@tms)%></tr>

<% end %>
 
 </table>
 
</div>
