<h1>Duties</h1>
To assign people to shifts, you need:<br>
<ul>
<li>a schedule: this contains the year and hat area as well as the set times for shift duties.</li>
<li>locations or tasks: Remember, one person per slot</li>
<li>people: always helps</li>
</ul>
